@(messages: Seq[Message], messageForm: Form[Message])
@import helper._

<html>
  <body>
    <ul>
    @messages.map { message =>
      <li>@message.name: @message.text</li>
    }
    </ul>

    <form method="POST" action="/postMessage">
    <input name="text">
    <input name="name">
    <button type="submit">Go!</button>
    </form>

    @helper.form(action = routes.ChatController.postMessage()){
    <h1>Hello Anna</h1>

    @helper.inputText(messageForm("name"))
    @helper.inputText(messageForm("text"))
    }

  </body>
</html>
